.MuiStack-root.watermark.css-1705j0v {
    display: none !important;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-1ecxs1h {
    background-color: #580DA6 !important;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-1cf8j3a {
    background-color: #580DA6 !important;
}